
.bandera1, .bandera2 {
  display: inline-block;
  height: 12rem;
  width: 16rem;
}

.cajaroja {
  display: inline-block;
  background-color: red;
  height: 100%;
  width: 15%;
}

.franjas {
display: inline-block;
height: 100%;
width: 83%;
}

.rojo1 {
  display: block;
  background-color: red;
  height: 33.33%;
  width: 100%;
}

.amarillo {
  display: block;
  background-color: yellow;
  height: 33.33%;
  width: 100%;
}

.verde {
  display: block;
  background-color: darkgreen;
  height: 33.33%;
  width: 85%;
}

.blanco {
  display: block;
  background-color: white;
  height: 33.33%;
  width: 85%;
}

.negro {
  display: block;
  background-color: black;
  height: 33.33%;
  width: 85%;
}
